# Віртуальне середовище
.venv/
venv/
env/

# Кеш Python
__pycache__/
*.py[cod]

# Файли IDE
.vscode/
.idea/

# БД
*.sqlite3

# Медіа
backend/media/

# Датасет
dataset-preparation/raw-recordings/
dataset-preparation/processed-segments/