# Віртуальне середовище
.venv/
venv/
env/

# Кеш Python
__pycache__/
*.py[cod]

# Файли IDE
.vscode/
.idea/

# БД
*.sqlite3

# Медіа
backend/media/

# Датасет
dataset-preparation/raw-recordings/
dataset-preparation/normalized-recordings/
dataset-preparation/processed-segments/
dataset-preparation/spectrograms/
dataset-preparation/fft-dataset/
dataset-preparation/quality_reports/
backend/core/*.json
backend/core/*.txt

# Модель
*.keras
*.h5
*.joblib
*.pkl
*_metadata.json
*.png