$primary-color: #484580;
$text-color: #fff;
$border-color: #ccc;
$input-padding: 10px;
$form-width: 400px;
$radius: 4px;
$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// LoadingIndicator
$spinner-bg: #f3f3f3;
$spinner-size: 50px;
$spinner-border-width: 5px;